@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Poppins&family=Source+Sans+Pro&display=swap');
body {
    font-family: sans-serif;
    background-color: #121812;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bem_vindo{
    background-color: #202520;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 5px 5px black;
    width:60vw;
    margin-top:50px;
    text-align: justify;
}

.title {
    font-size: 3rem;
}

header{
    background-color: rgb(3, 214, 3);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer{
    background-color: rgb(4, 177, 4);
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header2{
    background: rgb(6,214,6);
background: linear-gradient(248deg, rgba(6,214,6,1) 10%, rgba(0,141,0,1) 88%);
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Mochiy Pop One', sans-serif;
    box-shadow: 10px 5px 5px black;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card{
    margin-top: 20px;
    width: 350px;
    height: 75vh;
    padding: 10px;
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
    border-radius: 20px;
    display: grid;
    align-content: center;
}
#cards{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
justify-content: center;
width: 100%;
margin-top: 40px;
}

.article > h2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Mochiy Pop One', sans-serif;

}

.article > p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Mochiy Pop One', sans-serif;
}

.image{
    margin: auto;
     width: 90%;
     height: 340px;
     border-radius: 10px;
}

.article{
    font-size: 13px;
    background-color: #202520;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    box-shadow: 10px 5px 5px black;
    height: 660px;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(248deg, rgba(6,214,6,1) 10%, rgba(0,141,0,1) 88%);
    border-radius: 10px;
}

.mapouter{
    background-color: #202520;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 5px 5px black;
    width:60vw;
    margin-top:30px;
    text-align: justify;
}
.gmap_canvas {overflow:hidden;background:none!important;width:60vw;height:250px;}
.gmap_iframe {width:60vw!important;height:250px!important;}

@media (max-width: 1000px)
{
    .article{
        width: 70vw;
        height: 700px;
    }
    footer{
        margin-top: 20vh;
        font-size: 15px;
    }
    .header2{
        font-size: 13px;
    }
}

.conteudo{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.text{
   max-width: 70%;
   text-align: justify;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
}

.footer{ 
    position: fixed;
    left:0;
    bottom: 0;
    background-color: #040a0a6b;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
    color: white;
    font-family: Trebuchet MS;
         opacity: 0.7;
    }

#localizacao{
background-color: #404640;
color: white;
font-size: 15px;
margin-bottom: 5px;
padding: 5px;
}

.espaco{
    width: 100%;
    height: 70px;
}